{% block body %}
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->


<body style="background-color:grey; margin-left:45%; display:table;">
<h1>Fill the Form</h1>

    <form action="{% url 'final' %}" method="post" id="indexForm" data-courses-url="{% url 'ajax_load_courses' %}">
         {% csrf_token %}
        <input type="text" placeholder="Name" style="width:198px;"><br><br>

    <input type="date" placeholder="DOB" style="width:198px;"><br><br>

    <input type="number" placeholder="Age" style="width:198px;"><br><br>

    <label for="gender">Gender:</label>
    <select name="gender">
        <option value="">Please select one</option>
        <option value="female">Female</option>
        <option value="male">Male</option>
    </select><br><br>

    <input type="number" placeholder="Phone Number" style="width:198px;"><br><br>

    <input type="email" placeholder="Email" style="width:198px;"><br><br>

    <input type="text" placeholder="Address" style="height:50px; width:198px;"><br><br>

        <label>District:</label>
        <select name="programming" id="programming" class="form-control">
            <option value="">---select your district---</option>
            {% for i in program %}
            <option value="{{i.id}}">{{i.name}}</option>
            {% endfor %}
        </select>
        <br>
        <label>Branch:</label>
      <select name="courses" id="courses" class="form-control">

        </select>
        <br><br>
            <label for="account">Account:</label>
    <select name="account">
        <option value="">Account Type</option>
        <option value="saving">Savings Account</option>
        <option value="current">Current Account</option>
        <option value="salary">Salary Account</option>
        <option value="nri">NRI Account</option>
    </select><br><br>

<header>Materials provide:</header>
    <input type="checkbox" id="debit" name="debitcard" value="debitcard">
    <label for="debitcard">Debitcard</label><br>
    <input type="checkbox" id="credit" name="creditcard" value="creditcard">
    <label for="creditcard">Creditcard</label><br>
    <input type="checkbox" id="checkb" name="checkbook" value="checkbook">
    <label for="checkbook">CheckBook</label><br><br>

            <button type="submit">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<a href="{% url 'home' %}">
    <button type="button">Logout</button>
</a>

    </form>
</body>
<!--</div>-->


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#programming").change(function () {
      var url = $("#indexForm").attr("data-courses-url");  // get the url of the `load_courses` view
      var programmingId = $(this).val();  // get the selected programming ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/load-courses/)
        data: {
          'programming': programmingId       // add the programming id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_courses` view function
          $("#courses").html(data);  // replace the contents of the course input with the data that came from the server
        }
      });

    });
  </script>


{% endblock%}